flow.json
[{"id":"3fd5baca.6a26a6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"185a8c23.992874","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a33c42d0.e7132","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f0e2b82.e595d4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"eff8330.ba8f9d","type":"ui_group","z":"","name":"HomeAutomation","tab":"5f0e2b82.e595d4","disp":true,"width":"6","collapse":false},{"id":"d86646c1.f0b288","type":"mqtt in","z":"3fd5baca.6a26a6","name":"","topic":"/state","qos":"2","broker":"185a8c23.992874","x":310,"y":260,"wires":[["8b85d3ba.39dd6"]]},{"id":"788c4a77.baaaf4","type":"inject","z":"3fd5baca.6a26a6","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["e3da2ed.f1b44d"]]},{"id":"e3da2ed.f1b44d","type":"mqtt out","z":"3fd5baca.6a26a6","name":"","topic":"/state","qos":"","retain":"","broker":"185a8c23.992874","x":310,"y":140,"wires":[]},{"id":"7cb500c0.49ba","type":"inject","z":"3fd5baca.6a26a6","name":"Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["e3da2ed.f1b44d"]]},{"id":"8b85d3ba.39dd6","type":"debug","z":"3fd5baca.6a26a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":260,"wires":[]},{"id":"d8aa912.67fa67","type":"ui_slider","z":"3fd5baca.6a26a6","name":"Value","label":"slider","tooltip":"","group":"eff8330.ba8f9d","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":460,"y":420,"wires":[[]]}]