flow.json
[{"id":"3fd5baca.6a26a6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"185a8c23.992874","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d86646c1.f0b288","type":"mqtt in","z":"3fd5baca.6a26a6","name":"","topic":"/state","qos":"2","broker":"185a8c23.992874","x":310,"y":260,"wires":[["8b85d3ba.39dd6"]]},{"id":"788c4a77.baaaf4","type":"inject","z":"3fd5baca.6a26a6","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["e3da2ed.f1b44d"]]},{"id":"e3da2ed.f1b44d","type":"mqtt out","z":"3fd5baca.6a26a6","name":"","topic":"/state","qos":"","retain":"","broker":"185a8c23.992874","x":310,"y":140,"wires":[]},{"id":"7cb500c0.49ba","type":"inject","z":"3fd5baca.6a26a6","name":"Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["e3da2ed.f1b44d"]]},{"id":"8b85d3ba.39dd6","type":"debug","z":"3fd5baca.6a26a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":260,"wires":[]}]